.data-content {
    line-height: 1.5;
    max-width: 800px;
    text-align: center;
}

.post-link {
    display: flex;
    text-decoration: none;
    color: var(--color-white);
}

.post-link:hover {
    text-decoration: none;
    color: var(--color-dutch);
}
